name: Update Blog Posts

on:
  schedule:
    - cron: "0 */6 * * *"   # every 6 hours
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Pull latest blog posts
        uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://satishportfolio.blogspot.com/feeds/posts/default?alt=rss"
          max_post_count: 5
